 /*
Заметки                     Студия      Портфолио
Цвет вторичного текста      #212121     #212121
Цвет основного текста       #757575     #757575
Цвет акцента                #2196F3     #2196F3
Основной цвет фона          #F5F5F5     #F5F5F5
Цвет герой-подвал           #2F303A     #2F303A
Преимущество белый          #FFFFFF     #FFFFFF
Наша команда                #F5F4FA     
Цвет ОБЩЕГО фона  #F5F5F5 
Цвет текста в кнопке   #FFFFFF
Цвет мыла и номер в футере rgba(255, 255, 255, 0.6)
Цвета лого в хедере #000000 черный #2196F3 синий.
*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --hero-footer-color: #2F303A;
    --footer-contact-color : rgba(255, 255, 255, 0.6);
    --gray-color : #F5F4FA;
    --logo-header : #000000 ;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color:var(--primary-white-color);
    color:var(--primary-text-color) ;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


/*header*/

.header {
    background-color: var(--primary-white-color);
}


/* Logo */
.logo {
    /* font-family: 'Raleway'; */
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* letter-spacing: 0.03em; */
    color: var(--logo-header);
}

.logo-color {
    color:var(--accent-color);
}

.logo:hover,
.logo:focus {
    color:var(--accent-color)
}

/* Site navigation */
.site-nav .link {
    /* font-family: 'Roboto'; */
    font-weight: 500;
    /* font-size: 14px; */
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color)
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color)
}

.site-nav .link.current {
    color:var(--accent-color)
}

/* Header contacts */

.contacts-hdr .link {
    /* font-family: 'Roboto'; */
    font-weight: 500;
    /* font-size: 14px; */
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color)
}

.contacts-hdr .link:hover,
.contacts-hdr .link:focus {
    color:var(--accent-color)
}

/*body*/


/* Hero */
.hero {
    background-color: var(--hero-footer-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color); 
}

.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color:var(--accent-color) ;
    color: var(--primary-white-color);
}

.btn:hover,
.btn:focus {
    color:var(--accent-color);
}

.btn:active {
    color: #188CE8;
}



/* Sections */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--title-text-color)
}

/* Features */

.features .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color)
}

.features .text {
    /* font-weight: 400;
    font-size: 14px; */
    line-height: 24px;
    /* letter-spacing: 0.03em; */
}

/* team */

.team {
    background-color: var(--primary-white-color);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}

.team-text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    /* letter-spacing: 0.03em; */
}


/*footer*/

.footer {
    background-color: var(--hero-footer-color) ;
}


/* logo footer */


.logo-footer {
    /* font-family: 'Raleway'; */
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* letter-spacing: 0.03em; */
    color: var(--primary-white-color);
}


.logo-footer:hover,
.logo-footer:focus {
    color: var(--accent-color);
}


/* footer adress */


.footer-adress {
    font-style: normal;
}


.footer-map {
/* font-family: 'Roboto'; */
font-style: normal;
/* font-weight: 400; */
/* font-size: 14px; */
line-height: 1.71;
/* letter-spacing: 0.03em; */
color: var(--primary-white-color);
}

.footer-map:hover,
.footer-map:focus {
    color: var(--accent-color);
}


.footer-contact {
    /* font-family: 'Roboto'; */
    font-style: normal;
    /* font-weight: 400;
    font-size: 14px; */
    line-height: 1.71;
    /* letter-spacing: 0.03em; */
    color: var(--footer-contact-color);
}


.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}



/* portfollio */


/* header copy from studio */


/* buttons */

.btn-p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;  
    text-align: center;
    /* letter-spacing: 0.03em; */
    border-radius: 4px;
    background-color: var(--gray-color);
    color:var(--title-text-color);
}


.btn-p:hover,
.btn-p:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}


.btn-p.current {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: var(--accent-color);
    color: var(--primary-white-color) ;
}


/* portfolio projects */


.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}



.project-text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.87;
    /* letter-spacing: 0.03em; */
}